@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=UnifrakturMaguntia&display=swap");
:root {
	--font-heading: "UnifrakturMaguntia", cursive;
	--font-body: "Space Mono", monospace;
}
#root {
	max-width: 1280px;
	margin: 0 auto;
	text-align: center;
}
body {
	font-family: var(--font-body);
}
h1 {
	font-family: var(--font-heading);
}
.logo-box {
	overflow-wrap: break-word;
	margin: 0 auto;
	font-family: var(--font-body);
	font-size: 0.6rem;
}
